*{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
    background-image: url(./public/images/BackgroundImage.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

img{
    display: block;
    margin: auto;
    height: 200px;
    width: 150px;
}

hr{
    width: 6rem;
    margin-left: 35%;
    border-top: 2px solid rgb(34, 212, 153);
}

.left-container{
    /* border: solid 2px purple; */
    float: left;
    width: 100%;
    position: relative;
}

.left-card{
    margin-top: 2rem;
    float: right;
    width: 20%;
    position: absolute;
    left: 250px;
    background-color: #fff;
    border-radius: 1rem;
    text-align: center;
}

.left-card-h1{
    color: rgb(34, 212, 153);
    margin: 1.5rem;
    text-align: center;
}

.left-card-p{
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    color: rgb(43, 115, 224);
}

.left-card-button{
    border: none;
    width: 10rem;    
    border-radius: 2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: rgb(43, 115, 224);
    cursor: pointer;
}

.container{
    /* border: 2px solid red; */
    float: right;
    width: 60%;
}

.card{
    float: left;
    width: 25%;
    border-radius: 1rem;
    position: relative;
    margin: 2rem;
}

.header{
    background-color: rgb(38, 212, 212);
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.card-body{
    background-color: #fff;
    padding: 2rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}

.btn-1{
    background-color: rgb(31, 228, 120);
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 1.5rem;
    margin: none;
    position: absolute;
    top: 320px;
    left: 50px;
    width: 8rem;
    cursor: pointer;
}

.btn-2{
    background-color: rgb(43, 115, 224);
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 1.5rem;
    margin: none;
    position: absolute;
    top: 360px;
    left: 50px;
    width: 8rem;
    cursor: pointer;
}